.row-form {
    width: 100%;
    height: 280px;
    position: fixed;
    left: 0;
    top: calc(50% - 140px);
    background-color: #ffffff;
    box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.3);
    outline: none;
    padding: 30px 30px 0 30px;
}

.form-error-message {
    margin-left: 20px;
    color: #d00;
}