.paginator {
    display: inline-block;
}

.paginator-page {
    background: #eee;
    box-shadow: 1px 1px 3px rgba(0,0,0,.1);
    border: none;
    border-radius: 20px;
    margin: 2px;
    padding: 4px 10px;
    cursor: pointer;
    outline: none;
}

.paginator-page:hover {
    background-color: #41bfa429 !important;
}

.paginator-page.--is-active {
    color: #000;
    border: 2px solid black;
}