body {
  margin: 0;
  padding: 30px;
  height: auto;
  background-color: #fff !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-select-focused .ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active,
.ant-input:focus {
  border-color: #41bfa4 !important;
  box-shadow: 0 0 0 2px rgba(65, 191, 164, 0.14) !important;
}

.ant-btn:not(.ant-btn-primary):hover,
.ant-btn:not(.ant-btn-primary):focus {
  color: #41bfa4 !important;
  border-color: #41bfa4 !important;
}

.ant-select-dropdown-menu-item:hover {
  background-color: #41bfa429 !important;
}

button.ant-btn.ant-btn-primary {
  background-color: #41bfa4;
  border-color: #41bfa4;
}